html,
body {
  margin: 0;
  padding: 0;
}

body {
  min-width: 1020px;
  font-family: "Lato", san-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
  background: #f2f2f2;
  color: #767e9e;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 40px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.main-header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}

.logo-title {
  margin: 0;
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 6.32px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #ffffff;
}

.logo-title::after {
  position: absolute;
  content: "*";
  top: -5px;
  left: 108px;
  color: #f06c64;
}

.main-nav {
  margin-left: auto;
}

.main-nav__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 36px 0;
  list-style: none;
}
.main-nav__item {
  position: relative;
  padding-top: 10px;
  padding-left: 14px;
  padding-right: 12px;
}

.main-nav__item:first-child {
  padding-left: 0;
}

.main-nav__item:last-child {
  padding-right: 0;
}

.main-nav__item::before {
  position: absolute;
  content: "";
  bottom: 2px;
  right: -3px;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #494e62;
}

.main-nav__item:last-child::before {
  display: none;
}

.main-nav__link {
  margin: 0;
  padding: 0;
  display: block;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 6.32px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.main-nav__link:hover,
.main-nav__link:focus {
  color: #f06c64;
}

.slider {
  position: relative;
  margin-bottom: 70px;
  background-color: #f06c64;
  border-bottom: 15px solid #ea676b;
}

.slider__sliders {
  margin: 0;
  padding: 0;
}

.slider-1 {
  height: 483px;
  padding: 50px 55px 53px 55px;
  background-image: url("assets/img/slider-img.png");
  background-repeat: no-repeat;
  background-position: center;
}

.slider__btn {
  position: absolute;
  top: 280px;
  width: 20px;
  height: 30px;
  font-size: 0;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: transparent;
  opacity: 1;
}

.slider__btn:hover {
  opacity: 0.5;
}

.slider__btn.slider__btn--prev {
  left: 40px;
  background-image: url("assets/img/chev-left.png");
  background-repeat: no-repeat;
  background-position: center;
}

.slider__btn.slider__btn--next {
  right: 40px;
  background-image: url("assets/img/chev-right.png");
  background-repeat: no-repeat;
  background-position: center;
}

.services {
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}

.services__title {
  margin: 0;
  margin-bottom: 28px;
  font-family: "Lato - Black", sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 17.86px;
  letter-spacing: 1.5px;
  color: #666d89;
}

.services__text {
  margin: 0;
  margin-bottom: 45px;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: -0.5px;
  color: #767e9e;
}

.services__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services__item {
  position: relative;
  width: 299px;
  margin-right: 20px;
  margin-bottom: 32px;
}

.services__item:nth-child(3n) {
  margin-right: 0;
}

.services__item-title {
  margin: 0;
  margin-bottom: 11px;
  margin-left: 80px;
  font-family: "Lato - Black", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 17.86px;
  color: #666d89;
}

.services__item-desc {
  margin: 0;
  margin-left: 80px;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 21.56px;
  letter-spacing: -0.25px;
}

.services__icon {
  position: absolute;
  top: 0;
  left: 2px;
  display: block;
  width: 55px;
  height: 55px;
  text-align: center;
  border: 2px solid #666d89;
  border-radius: 50%;
}

.services__icon.services__icon--pen {
  background-image: url("assets/img/pen.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services__icon.services__icon--bulb {
  background-image: url("assets/img/bulb.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services__icon.services__icon--heart {
  background-image: url("assets/img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services__icon.services__icon--phone {
  background-image: url("assets/img/phone.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services__icon.services__icon--bubble {
  background-image: url("assets/img/bubble.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.services__icon.services__icon--star {
  background-image: url("assets/img/star.svg");
  background-repeat: no-repeat;
  background-position: center;
}
